################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/.suo
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/db.lock
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/storage.ide
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/storage.ide-shm
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/storage.ide-wal
/MDB-RS232-Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MDB-RS232-Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MDB-RS232-Test/obj/Debug/MDB-RS232-Test.csprojAssemblyReference.cache
/MDB-RS232-Test/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/MDB-RS232-Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MDB-RS232-Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MDB-RS232-Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MDB-RS232-Test/obj/Debug/MDB_RS232_Test.SerialSettingsForm.resources
/MDB-RS232-Test/obj/Debug/MDB_RS232_Test.Properties.Resources.resources
/MDB-RS232-Test/obj/Debug/MDB_RS232_Test.Form1.resources
/MDB-RS232-Test/obj/Debug/MDB-RS232-Test.pdb
/MDB-RS232-Test/obj/Debug/MDB-RS232-Test.exe
/MDB-RS232-Test/obj/Debug/MDB-RS232-Test.csproj.GenerateResource.cache
/MDB-RS232-Test/obj/Debug/MDB-RS232-Test.csproj.FileListAbsolute.txt
/MDB-RS232-Test/obj/Debug/MDB-RS232-Test.csproj.CoreCompileInputs.cache
/MDB-RS232-Test/obj/Debug/AssemblyReference.cache
/MDB-RS232-Test/bin/Debug/MDB-RS232-Test.pdb
/MDB-RS232-Test/bin/Debug/MDB-RS232-Test.exe.config
/MDB-RS232-Test/bin/Debug/MDB-RS232-Test.exe
