################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/.suo
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/db.lock
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/storage.ide
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/storage.ide-shm
/MDB-RS232-Test/.vs/MDB-RS232-Test/v15/Server/sqlite3/storage.ide-wal
/MDB-RS232-Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MDB-RS232-Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MDB-RS232-Test/obj/Debug/MDB-RS232-Test.csprojAssemblyReference.cache
/MDB-RS232-Test/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
